@import "leaflet/dist/leaflet.css";
@import "leaflet.coordinates/src/Control.Coordinates.css";

.map {
  width: 100%;
  height: 500px;
  position: relative;

  .viewMenu {
    padding: 4px 10px;
    text-align: left;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 34px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-width: 100px;
  }

  .leaflet-popup-content {
    position: relative;

    .caosdb-f-map-popup-entity-link {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .leaflet-control.leaflet-control-layers {
    height: 34px;
    width: 34px;

    &.leaflet-control-layers-expanded {
      height: unset;
      width: unset;

      .leaflet-control-layers-toggle {
        display: none;
      }
    }

    .leaflet-control-layers-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: unset;
      height: unset;
      font-size: 20px;
      color: #333;
      text-decoration: none;
      background-image: unset;
      &::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        content: "\F3E7";
      }
    }
  }
}

.caosdb-f-map-change-view-btn,
.caosdb-f-map-search-btn,
.caosdb-f-map-select-search-btn {
  background-color: white;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.caosdb-f-map-select-search-btn {
  img {
    width: 80%;
    height: 80%;
  }

  & + .caosdb-f-map-search-btn {
    margin-top: 2px;
  }

  &.highlight {
    background-color: #90ee90;
  }
}

.caosdb-f-map-search-btn {
  background-color: #ff8700;

  i {
    font-size: 15px;
  }
}

.caosdb-f-map-parent-badge {
  color: #333;
  border: 1px solid #333;
}

.caosdb-f-map-entity-name-label {
  margin-top: 4px;
  margin-bottom: 4px;
}

.caosdb-f-map-path-drop-down {
  height: 34px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.caosdb-f-map-change-view-btn {
  i {
    font-size: 20px;
  }
}

.caosdb-f-map-view-select {
  width: max-content;

  label {
    margin-left: 8px;
  }
}
